@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td,select,option{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
html{
	font-size: 26.67vw;
}
body{
	display: -webkit-flex;
	font-family: "微软雅黑",Arial;
	/*background: #f5f5f9;*/
	display: -webkit-flex;
	-webkit-flex-direction:column;
}
ul,ol,select,option,input{
	list-style:none;
}
img{
	border: 0;
	display: block;
}
a{
	text-decoration: none;
}
/* ------------------ */

.logOne{
	display: -webkit-flex;
	border-bottom: 1px solid #CCCCCC;
	margin: 0 0.18rem;
	margin-top: 0.42rem;
	height: 0.35rem;
}
.logOne input{
	width: 2.5rem;
	height: 0.35rem;
	line-height: .35rem;
	color: #898989;
	font-size: 14px;
	background: white;
	border: 0;
	outline: 0;
	text-align: left;
	padding-left: 0.1rem;
	
}
input::-webkit-input-placeholder {
   	color: #898989;
   font-size: 14px;
}

.logOneHao{
	display: -webkit-flex;
	padding-left: 0.1rem;
}
.logOneHao span{
	color: #898989;
	font-size: 14px;
	display: -webkit-flex;
	line-height: 0.35rem;
}

.logOneHao img{
	width: 0.11rem;
	height: 0.11rem;
	margin-left: 0.08rem;
	margin-right: 0.15rem;
	margin-top: 0.12rem;

}
/* ----------------------------------- */
.logTwo{
	display: -webkit-flex;
border-bottom: 1px solid #CCCCCC;
	margin: 0 0.18rem;
}
.logTwo input{
	color: #898989;
	font-size: 14px;
	height: 0.46rem;
	line-height: 0.46rem;
	/* background: lightblue; */
	border: 0;
	outline: 0;
	width: 2.1rem;
	padding-left: 0.1rem;
}

/* -------------------------------------- */
.logThree{
	display: -webkit-flex;

}
.pass{
	height: 0.46rem;
	display: -webkit-flex;
	border-bottom: 1px solid #CCCCCC;
	margin: 0 0.18rem;
	-webkit-justify-content: space-between;
}
.pass input{
	color: #898989;
	font-size: 14px;
	height: 0.46rem;
	line-height: 0.46rem;
	/* background: lightblue; */
	border: 0;
	outline: 0;
	width: 2.1rem;
	padding-left: 0.1rem;
}
.pass span{
	background: #fff1f6;
	color: #fc538f;
	border-radius:0.11rem ;
	height: 0.22rem;
	padding: 0  0.2rem;
	font-size: 12px;
	display: -webkit-flex;
	margin-top: 0.13rem;
}
/* ------------ */

.logFro{
	
}
.dutt{
	display: -webkit-flex;
	margin: 0 0.18rem;
}
.dutt input{
	width: 100%;
	height:0.42rem ;
	margin-top: 0.17rem;
	margin-bottom: 0.08rem;
	color: #FFFFFF;
	background: #ff3b9c;
	border: 0;
	outline: 0;
	border-radius:0.08rem ;
}
.logFrive{
	font-size: 14px;
	color: #696969;
	padding: 0 0.18rem;
	margin-top: 0.1rem;
}
.logFrive a{
	color: #ff2681;
}




























