@charset "utf-8";
/*css document*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,td,input,select,option,textarea{
  margin:0;
  padding:0;
}
html{
  font-size: 26.67vw;
}
/*body,html{*/
/*height: 100%;*/
/*}*/
body{
  font-family:"微软雅黑";
  /*display: -webkit-flex;*/
  /*-webkit-flex-direction: column;*/
}
ul,ol{
  list-style:none;
}
a{
  text-decoration:none;
  display: -webkit-flex;
}
img{
  border:none;
  display: block;
}
/*header*/
header{
  height: .51rem;
  display: -webkit-flex;
  -webkit-align-items: center;
  border-bottom: 1px solid #f5f5f5;
}
header .icon-back{
  color:#1f1d1f ;
  font-size: .18rem;
  line-height:.18rem ;
  margin-left:.16rem ;
}
.straw{
  display: -webkit-flex;
  position: relative;
  margin-right: .12rem;
  margin-left: .12rem;
}
.straw input{
  color: #929192;
  font-size: .14rem;
  line-height:.2rem ;
  width:2.14rem ;
  height: .31rem;
  background: #f7f7f7;
  border-radius:.13rem ;
  border:0;
  outline: none;
  padding-left: .36rem;
}
.straw .icon-sousuo{
  color:#9a989a ;
  font-size: .14rem;
  line-height:.14rem ;
  position: absolute;
  top: .09rem;
  left:.12rem ;
}
header .btn{
  color: white;
  font-size:.15rem ;
  line-height: .15rem;
  background: #08c7ff;
  width:.56rem ;
  height: .31rem;
  border-radius: .14rem;
  outline: none;
  border: 0;
}
/*island*/
.lanCome{
  margin: 0 .13rem;
}
.line{
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  margin-top: .25rem;
}
.line h3{
  color: #161416;
  font-size: .14rem;
  line-height: .14rem;
}
.line .icon-shuaxin{
  color:#9f9f9f ;
  font-size: .17rem;
  line-height:.17rem ;
}
.linear{
  display: -webkit-flex;
  width:3.17rem;
  -webkit-flex-wrap: wrap;
  -webkit-flex-shrink: 0;
  margin-top: .15rem;
}
.linear a{
  color:#212221 ;
  font-size:.11rem ;
  line-height:.11rem ;
  background: #f7f7f7;
  padding:.1rem .13rem ;
  border-radius: .15rem;
  margin: 0 .05rem .1rem;
}
.linear a:nth-child(1){
  margin-left: 0;
}
.fresh{
  margin-top: .23rem;
}
.fresh h3{
  color:#171617 ;
  font-size: .14rem;
  line-height: .14rem;
}
.news{
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-shrink: 0;
  width: 3.17rem;
  margin-top: .15rem;
}
.news a{
  color:#212221 ;
  font-size:.11rem ;
  line-height:.11rem ;
  background: #f7f7f7;
  padding:.1rem .13rem ;
  border-radius: .15rem;
  margin: 0 .05rem;
}
.news a:nth-child(1){
  margin-left: 0;
}
