header{
    background:white;
    display:-webkit-flex;
    -webkit-justify-content:space-between;
    -webkit-align-items:center;
    -webkit-flex-deriction:column;
    padding:0 .13rem;
    height:.57rem;
    border-bottom:1px dashed #ebebeb;
}
section{
    -webkit-flex:1;
    overflow-y:auto;
    overflow-x:hidden;
}
.logo{
    display:-webkit-flex;
    -webkit-align-items:center;
}
.logo img{
    width:.27rem;
    height:.27rem;
    margin-right:.13rem;
}
.logo span{
    font-size:.15rem;
    color:#2c333b;
    margin-right:.1rem;
    display:block;
}
.logo .sub{
    width:.1rem;
    height:.06rem;
}
.hRight{
    display:-webkit-flex;
    -webkit-align-items:center;
}
.load{
    width:.18rem;
    height:.22rem;
}
.ect{
    width:.02rem;
    height:.18rem;
    margin-left:.39rem;

}
/* 描述部分 */
section{
    background:white;
}
.themBox{
    padding:.07rem .15rem .16rem .15rem;
}
.course{
    display:block;
    font-size:.13rem;
    color:white;
    background:#d29006;
    line-height:.13rem;
    border:1px solid #ba9219;
    padding:.08rem .11rem .07rem .11rem;
    border-radius:.14rem;
    display:table;
}
.themBox h1{
    font-size:.26rem;
    color:black;
    line-height:.39rem;

}
.priceBox{
    display:-webkit-flex;
    -webkit-justify-content:space-between;
    height:.35rem;
    -webkit-align-items:center;
    font-size:.19rem;
    color:#d1901c;
    font-weight:bold;
}
.price{
    
}
.try{
    font-size:.12rem;
}
.play{
    width:.23rem;
    height:.23rem;
    margin-left:.13rem;
    display:inline-block;
    vertical-align: middle;
}


/* 卡片详情部分 */
.cartItem{
    background:#f3f5f4;
    border-radius:.09rem;
    padding:0 .13rem;
    margin:0 .15rem .22rem;

}
.cartItem p{
    font-size:.11rem;
    color:#22252e;
    font-weight:bold;
    line-height:.41rem;
}
 .cartItem span{
    font-size:.11rem;
    color:#4a4c4b;
    font-weight:normal;

}
.promote .huabei{
    color:#1d80b9;
    font-size:.1rem;
    line-height:.1rem;
    padding:.05rem;
    background:#cee2ed;
    border-radius:.1rem;
    margin-left:.11rem;
    margin-right:.07rem;
}
.more{
    width:.12rem;
    height:.02rem;
    display:inline-block;
    
    float:right;
    margin-top:.2rem;
}
.serImg01{
    width:.13rem;
    height:.1rem;
    display:inline-block;
    margin-left:.11rem;
    margin-right:.05rem;

}
.parDes{
    margin-left:.11rem;
}
.taoDes{
    margin-left:.11rem;

}
.server{
    /* vertical-align: middle; */
}
.server .servertit{
    font-weight:bold;
    display:inline-block;
    vertical-align: top;
    line-height:.25rem;
}
.serCon{
    width:2.64rem;
    display:inline-block;
    line-height:.25rem;
}
.detImg01{
    width:100%;
}